@import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap');

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: Alegreya, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

header{
    width: 100%;
    height: 70px;
}

nav{
    padding-top: 10px;
    width: 100%;
    height: 70px;
    background: rgba(255, 255, 255, 0.842);
    position: fixed;
    z-index: 100;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
     -ms-animation: fadein 3s; /* Internet Explorer */
      -o-animation: fadein 3s; /* Opera < 12.1 */
         animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.logo {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    padding-left: 10px;
}

.logo a {
    color: #000;
    text-transform: uppercase;
    font-weight: 200;
    text-decoration: none;
    font-size: 32px;  
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
}

nav ul li:hover {
    border-bottom: 1px solid black;
}

nav ul li:not(:first-child) {
    margin-left: 48px;
}

nav ul li:last-child {
    margin-right: 24px;
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    transition: 1s;
}

@media screen and (max-width: 900px) {
    .logo {
        padding: 0;
        margin-left: 10px;
        margin-top: 5px;
        padding-left: 5px;
    }

    .logo a{
        font-size: 30px;
        letter-spacing: 5px;
    }

    .nav-wrapper {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          background: #fff;
          opacity: 0;
          transition: all 0.2s ease;
    }

    .nav-wrapper ul {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
    }

    .nav-wrapper ul li {
          display: block;
          float: none;
          width: 100%;
          text-align: right;
          margin-bottom: 10px;
    }

    .nav-wrapper ul li:nth-child(1) a {
          transition-delay: 0.2s;
    }

    .nav-wrapper ul li:nth-child(2) a {
          transition-delay: 0.3s;
    }

    .nav-wrapper ul li:nth-child(3) a {
          transition-delay: 0.4s;
    }

    .nav-wrapper ul li:nth-child(4) a {
          transition-delay: 0.5s;
    }

    .nav-wrapper ul li:not(:first-child) {
          margin-left: 0;
    }

    .nav-wrapper ul li a {
          padding: 10px 24px;
          opacity: 0;
          color: #000;
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 1.2px;
          transform: translateX(-20px);
          transition: all 0.6s ease;
    }

    .nav-wrapper ul li a:hover{
        letter-spacing: 5px;
        transition: 0.6s;
        border-bottom: 0;
    }

    nav ul li:hover {
        border-bottom: 0;
    }
    

    .nav-btn {
          position: fixed;
          right: 10px;
          top: 15px;
          display: block;
          width: 60px;
          height: 60px;
          cursor: pointer;
          z-index: 9999;
          border-radius: 50%;
    }

    .nav-btn i {
          display: block;
          width: 35px;
          height: 3px;
          background: #000;
          border-radius: 2px;
          margin-left: 10px;
    }

    .nav-btn i:nth-child(1) {
          margin-top: 16px;
    }

    .nav-btn i:nth-child(2) {
          margin-top: 4px;
          opacity: 1;
    }

    .nav-btn i:nth-child(3) {
          margin-top: 4px;
    }
}

#nav:checked + .nav-btn {
    transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
    background: #000;
    transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
    opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}
