@import url(../css/base.css);

.registro-box{
    display: flex;
    width: 70%;
    margin: auto;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}

.registro-form{
    width: 90%;
    justify-content: center;
    margin: auto;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

h1{
    font-weight: 200;
    text-align: center;
    font-size: 30px;
    font-family: alegreya;
    margin: auto;
    margin-bottom: 5px;
}

table{
    margin: auto;
    text-align: left;
    width: 85%;
}

input{ 
    width: 80%;
    height: 30px;
    margin-bottom: 5px;
    font-size: 14px;
    border:0;
    border-bottom: 1px solid rgb(66, 66, 66);
}

form{
    width: 100%;
    margin: auto;
    font-size: 13px;
    border: 1px solid rgba(211, 211, 211, 0.986);
    border-radius: 5px ;
    text-align: center;
}

.links{
    margin: auto;
    width: 100%;
}

#btnRegistrarse{
    background: black;
    width: 30%;
    height: 30px;
    color: white;
    margin: auto;
    margin-top: 10px;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.5s;
}

#btnRegistrarse span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#btnRegistrarse span:after {
    content: '\1f862';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    font-size: 15px;
}

#btnRegistrarse:hover span {
    padding-right: 25px;
}
  
#btnRegistrarse:hover span:after {
    opacity: 1;
    right: 0;
}

.ing{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    border-top: 1px solid rgb(83, 30, 42) ;
    height: 30px;
}

#ing{
    color: rgb(83, 30, 42);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.5;
}

#ing:hover{
    text-decoration: underline;
}


@media screen and (max-width: 850px){

    .registro-box{
        width: 100%;
    }
    
    .registro-form{
        width: 90%;
        
    }
    
    h1{
        font-size: 30px;
    }
    
    table{
        width: 85%;
    }
    
    input{ 
        font-size: 15px;
    }
    
    form{
        font-size: 14px;
    }
    
    #btnRegistrarse{
        width: 50%;
    }
    
    #ing{
        font-size: 15px;

    }

}

@media screen and (max-width: 550px){
    
    table{
        width: 95%;
    }

    form{
        font-weight: 300;
    }
    
    input{ 
        width: 100%;
    }
    
    #btnRegistrarse{
        width: 90%;
    }
    
    #ing{
        font-size: 15px;
    }

}