<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{% block titulo %}{% endblock titulo %}</title>
      <link rel="stylesheet" href="{% static 'css/baseestilo.css' %}">
      {% block hojaEstilo %}{% endblock hojaEstilo %}
</head>
<body>
    <header>
            <div class="container">
                    <nav>
                <input type="checkbox" id="nav" class="hidden">
                <label for="nav" class="nav-btn">
                      <i></i>
                      <i></i>
                      <i></i>
                </label>
                <div class="logo">
                      <a href="{% url 'Inicio' %}">pétalos</a>
                </div>
                <div class="nav-wrapper">
                      <ul>
                      {% if user.is_authenticated %}
                        <li><a href="#">Bienveni@, {{user.username}}!</a></li>
                        <li><a href="{% url 'Catalogo' %}">Catálogo</a></li>

                        {% if perms.FloreriaPetalos.add_producto %}
                              <li><a href="{% url 'ListadoProductos' %}">Administración de productos</a></li>
                        {% endif %}
                      {% endif %}
                      
                      {% if user.is_authenticated %}
                      <li><a href="{% url 'logout'%}">cerrar sesión</a></li>
                      {% else %}
                      <li><a href="{% url 'login'%}">Iniciar Sesión</a></li>
                      <li><a href="{% url 'Register'%}">Registrarse</a></li>
                      {% endif %}
                      </ul>
                </div>
          </nav>
        </div>
    </header>
    
    <section>
        {% block contenido %}
        
        {% endblock contenido %}
    </section>
</body>
</html>