{% extends "core/base.html" %}

{% block titulo %}
    Florería Pétalos | Galería de productos
{% endblock titulo %}

{% load static %}

{% block hojaEstilo %}
<link rel="stylesheet" href="{% static 'css/catalogo.css' %}">
{% endblock hojaEstilo %}

{% block contenido %}
    <div class="contenido">

        <div class="img-area">
            {% for p in productos%}

                {% if perms.FloreriaPetalos.add_producto %}
                    <div class="box">
                        <img src="{{p.imagen.url}}" alt="">
                        <h1>{{p.nombre}} </h1>
                        <h2 id="categoria">Categoria: {{p.categoria}}</h2>
                        <h2 id="precio">${{p.valor}}</h2>
                        <p>{{p.descripcion}}</p>
                        <h2 id="stock">Stock: {{p.stock}}</h2>
                        <h2 id="estado">Estado: {{p.estado}}</h2>
                    </div>
                {% else %}
                    {% if p.estado.nombre_estado == 'Disponible' %}
                    <div class="box">
                        <img src="{{p.imagen.url}}" alt="">
                        <h1>{{p.nombre}} </h1>
                        <h2 id="categoria">Categoria: {{p.categoria}}</h2>
                        <h2 id="precio">${{p.valor}}</h2>
                        <p>{{p.descripcion}}</p>
                        <h3>Agregar al carro</h3>
                    </div>
                    {% endif %}
                {% endif %}

            {% endfor %}
        </div>
    
    </div>
{% endblock contenido %}