{% extends "core/base.html" %}

{% block titulo %}
      Florería Pétalos | Nosotros
{% endblock titulo %}

{% load static %}

{% block hojaEstilo %}
      <link rel="stylesheet" href="{% static 'css/info.css' %}">
{% endblock hojaEstilo %}

{% block contenido %}
<div class="contenido">

      <div class="informacion">
            <div class="condiciones">
                  <h1>Condiciones de compra</h1>
                  <h2>Nuestro horarios de entrega son</h2>
                  <ul>
                        <li>Lunes a Viernes de 9:00-19:00 hrs y Sáb entre las 10:00 y 17:00 hrs. (Fuera del rango horario, existe un recargo de $5000)</li>
                        <li>Domingos y festivos horario de entrega es entre las 10:00 y las 14:00 hrs con un costo adicional de $5000 (Solo se entregarán pedidos programados y cancelados con al menos con 48 hrs de anticipación)</li>
                        <li>Condiciones y recargos mencionados no aplican para el Día de la madre ni día de los enamorados.</li>
                        <li>Tiempo de entrega: Los pedidos realizados dentro de la mañana serán despachados durante la tarde entre las 14:00 y 19:00 hrs y los pedidos realizados en la tarde serán despachados la mañana siguiente entre las 9:00 y 13:00 hrs. Para otro requerimiento contáctanos a nuestros teléfonos o whatsapp 229827480 / +56977051323</li>
                  </ul>
            </div>
                  
            <div class="ComoComprar">
                  <h1>Como Comprar</h1>
                  <h2>1era Opción</h2>
                  <p>Llamar a nuestros teléfonos +569 77051323 o 229827480 para tomar nota de su pedido. Pago vía transferencia electrónica o depósito a nuestra cuenta.</p>
                  <h2>2da Opción</h2>
                  <p>Compra a través de nuestro sitio web <a href=" {% url 'Inicio' %} ">www.floreriapetalos.cl</a></p>
                  <p> Pago vía WEBPAY.</p>
            </div>
      </div>
</div>
{% endblock contenido %}