{% extends "core/base.html" %}

{% block titulo %}
    Florería Pétalos | Listado de productos
{% endblock titulo %}

{% load static %}

{% block hojaEstilo %}
<link rel="stylesheet" href="{% static 'css/lista.css' %}">
{% endblock hojaEstilo %}

{% block contenido %}
<div class="contenido">
    <div class="listado-box">
        <div class="barra">
            <h1>Listado de productos </h1>
        </div>

        <table cellspacing="0" id="listado-tabla">

            <tr>
                <th>Imagen</th>
                <th>Nombre </th>
                <th>Valor </th>
                <th class="descripcion">Descripción </th>
                <th>Stock </th>
                <th>Estado </th>
                <th class="created_date">Fecha de registro</th>
                <th colspan="2"><a href="{% url 'Formulario' %}"><input type="submit" id="btn-registrar" value="Nuevo producto"></a></th>
            </tr>
    
            {% for p in productos %}
            <tr>
                <td><img src="{{p.imagen.url}}"></td>
                <td style="max-width: 130px;">{{p.nombre}}</td>
                <td>${{p.valor}}</td>
                <td class="descripcion" style="max-width: 350px;">{{p.descripcion}}</td>
                <td>{{p.stock}}</td>
                <td style="max-width: 80px;">{{p.estado}}</td>
                <td class="created_date" style="max-width: 130px;">{{p.created_date}}</td>

                <td class="accion">
                    <a href="{% url 'ModificarProducto' p.id %}"><input type="submit" id="btn-modificar" value="Modificar"></a>
                    <a href="{% url 'ModificarProducto' p.id %}"><img src="{% static 'img/edit.png' %}" id="img-modificar"></a>
                </td>
                <td class="accion">
                    <a href="{% url 'EliminarProducto' p.id %}" ><input type="submit" id="btn-eliminar" value="Eliminar"></a>
                    <a href="{% url 'EliminarProducto' p.id %}" ><img src="{% static 'img/delete.png' %}" id="img-eliminar"></a>
                </td>

            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock contenido %}