{% extends "core/base.html" %}

{% block titulo %}
    Florería Pétalos | Modificar información de producto
{% endblock titulo %}

{% load static %}

{% block hojaEstilo %}
      <link rel="stylesheet" href="{% static 'css/modificar.css' %}">
{% endblock hojaEstilo %}

{% block contenido %}
<div class="form-producto">
    <form id="formProductos" method="POST" action="" enctype="multipart/form-data">
        <h1>Modificar información de producto</h1>    
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>

        <div class="buttons">
            <input class="limp" type="reset" value="Limpiar" name="accion">
            <input class="boton" id="reg" type="submit" value="Modificar" name=accion>
        </div>
        <div id="resp">{{msg}}</div>
    </form> 
</div>
{% endblock contenido %}