{% extends "core/base.html" %}

{% block titulo %}
    Florería Pétalos | Registro de flores
{% endblock titulo %}

{% load static %}

{% block hojaEstilo %}
      <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% endblock hojaEstilo %}

{% block contenido %}
<div class="contenido">
    <div class="form-producto">
        <form id="frmProdct" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                <tr>
                    <td colspan="2" id="titulo">Registro de productos</td>
                </tr>
                <tr>
                    <td id="t">Nombre del producto</td>
                    <td><input type="text" id="Name" name="Name" placeholder="Ingrese nombre"></td>
                </tr>
                <tr>
                    <td id="t">Valor</td>
                    <td><input type="number" id="Value" name="Value" min="1"  placeholder="Ingrese valor"></td>
                </tr>
                <tr>
                    <td id="t">Descripción</td>
                    <td><textarea name="Desc" id="Desc" placeholder="Ingrese descripción"></textarea></td>
                </tr>
                <tr>
                    <td id="t">Stock</td>
                    <td><input type="number" id="Stock" name="Stock" min="1" placeholder="Ingrese stock"></td>
                </tr>
                <tr>
                    <td id="t">Seleccione imagen del producto</td>
                    <td><input type="file" name="Image" id="Image"></td>
                </tr>
                <tr>
                    <td id="botontd" colspan="2"><input id="RegProduct" name="RegProduct" type="submit" value="Aceptar"></td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock contenido %}