{% extends "core/base.html" %}

{% block titulo %}
    Florería Pétalos | Registrarse
{% endblock titulo %}

{% load static %}

{% block hojaEstilo %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock hojaEstilo %}

{% block contenido %}
        <div class="contenido">
            <div class="registro-box">
                <div class="registro-form">
                    <h1>Crea tu cuenta</h1>
                    <form method="POST">
                        {% csrf_token %}
                        <td>Nombre de usuario</td>
                        <input type="text" placeholder="Registre un nombre de usuario" id="username" name="username" required>
                        <div></div>
                        <td>Contraseña</td>
                        <input type="password" placeholder="Registre una contraseña" id="password" name="password" required>
                        <button id="btnRegistrarse"><span>Registrarse </span></button>
                        <div class="ing"><a id="ing" href="{% url 'Login' %}">¿Ya tienes una cuenta? Inicia Sesión</a></div>
                    </form>
                </div>

                <div class="registro-img">
                    <img src="{% static 'img/Registro.jpg' %}">
                </div>
            </div>
        </div>
{% endblock contenido %}
